* {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Montserrat;
  height: 100%;
  width: 100%;
}
#welcome-section {
  width: 100%;
  height: 80vh;

  display: grid;
  grid-template-columns: 10% auto auto 80px;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 4px;
  padding: 5%;
  padding-bottom: 0;
}

#designer-logo {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
}
#logo {
  width: 90%;
  min-width: 100px;
  position: relative;
  left: -30px;
}
#navbar-m {
  grid-area: 1 / 4 / 5 / 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 20% 0 20%;
  z-index: 99;
}
.navLink {
  transform: rotate(90deg);
}

.navLink a {
  color: rgb(138, 136, 136);
  text-decoration: none;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.4em;
}
.navLink a:hover {
  color: black;
  border-bottom: 3px solid rgb(0, 0, 0);
}
#work {
  height: 100%;
  width: 100%;
}
#bio {
  grid-area: 3 / 1 / 5 / 4;
  width: 100%;
  height: 100%;
  padding: 5%;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: left;

  justify-content: center;
}
#bio-1 {
  font-size: 3.2em;
}
#bio-2 {
  font-size: 2.2em;
  font-style: italic;
  color: gray;
}

#project {
  margin: 100px 5vw 0 5vw;
  margin-bottom: 0;
  border-radius: 80px;

  /* background-color: rgb(212, 212, 212); */
}
#project h1 {
  font-size: 3rem;
  padding-top: 80px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

#pgrid {
  width: 100%;
  height: 100%;

  padding: 70px;
  display: flex;
  max-height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
#p1,
#p4,
#p5,
#p6 {
  height: 400px;
  width: 400px;
}

#p3,
#p2,
#p7,
#p8 {
  height: 200px;
  width: 400px;
}

#pgrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#last-d,
#first-b {
  height: 400px;
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#last-d img,
#first-b img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#p4 img {
  object-fit: cover;
  object-position: -250px;
}

#p1 {
  background-color: rgb(6, 68, 52);
}
#p2 {
  background-color: rgb(35, 104, 104);
}
#p3 {
  background-color: rgb(206, 149, 27);
}
#p4 {
  background-color: rgb(73, 156, 17);
}
#p5 {
  background-color: rgb(78, 4, 50);
}
#p6 {
  background-color: rgb(139, 42, 42);
}
#p7 {
  background-color: rgb(122, 118, 75);
}
#p8 {
  background-color: rgb(31, 189, 62);
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}
.content-overlay {
  background: rgba(2, 0, 0, 0.685);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  color: white;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-overlay,
.content:hover .content-details {
  opacity: 1;
}
#contact h1,
#about h1 {
  text-align: center;
  font-weight: bold;
  padding: 100px;
  padding-top: 50px;
  padding-bottom: 0;
  font-family: Helvetica, sans-serif;
}
#contact p,
#about p {
  text-align: center;
  padding: 30px 90px 0 90px;
  margin: 0px 20% 0 20%;
  color: rgb(128, 128, 128);
}

#links img {
  margin-top: 20px;
  max-width: 25px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 20px;
}
#links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px 30% 0px 30%;
}
#links a:hover {
  transform: scale(1.6);
}

@media (max-width: 768px) {
  #bio-1 {
    font-size: 2.5em;
  }
  #bio-2 {
    font-size: 1.5em;
  }

  #contact p,
  #about p {
    padding: 10px 10px 0 10px;
    margin: 0px 20% 0 20%;
  }
  #navbar-m a {
    font-size: 1rem;
  }
  #navbar-m {
    grid-area: 2 / 4 / 4 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 20% 0 20%;
  }
  #pgrid {
    padding: 40px;
  }
  #p1,
  #p4,
  #p5,
  #p6 {
    height: 400px;
    width: 400px;
  }

  #p3,
  #p2,
  #p7,
  #p8 {
    height: 200px;
    width: 100%;
  }

  #pgrid img {
    height: 100%;
  }
}
