* {
  margin: 0;
  padding: 0;
  border: 0;
  
}
html
{
  max-width: 100vw;
 
}
body {
  background-color: rgb(236, 209, 222);
  font-family: Montserrat;
  width:100%;
}

#header {
  width: 100vw;
  height: 4vh;
  min-height: 50px;
  background-color: white;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-between;
}
#img {
  height: 100%;
  margin-left: 50px;
}
#header-img {
  max-width: 100%;
  max-height: 100%;
}
#cname {
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
}

#nav-bar {
  width: 30%;
}

#nav-bar ul {
  list-style: none;
  display: flex;
  width: 100%;
  background-color: rgb(179, 161, 180);
  height: 100%;
}

li {
  height: 100%;
  width: 33%;
}

.nav-link {
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.nav-link:hover {
  text-decoration: underline;
  color: white;
  background-color: rgb(182, 66, 163);
}

#video-layout {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
}

#main-flex {
  text-align: center;
  background-color: rgb(202, 142, 187);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 20px 0 20px 0;
  border: 3px solid rgb(201, 17, 170);
}
.box {
  width: 30%;
  border: 2px solid rgb(143, 54, 128);
  background-color: rgb(248, 191, 234);
}
#box-title {
  background-color: rgb(140, 51, 143);
  max-width: 100%;
  max-height: 100%;
  color: white;
  padding: 10px;
}
#cost {
  font-size: 2em;
  font-weight: bold;
  padding-top: 4px;
}
#description {
  text-align: center;
  padding: 15px;
  font-size: 1rem;
}
#buy {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
}

#buy-button {
  background-color: rgb(140, 51, 143);
  width: 9vw;
  height: 3vw;
  color: white;
  font-size: 0.8em;
}

#headline {
  text-align: center;
  padding-top: 90px;
  font-weight: bold;
}

#form {
  width: 50vw;
  background-color: rgb(176, 118, 184);
  text-align: center;
  border: 5px #5c0154 solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 20px 0;
  margin-bottom: 10px;
  /* f */
}

#subscribetext {
  margin-bottom: 10px;
  color: rgb(26, 2, 26);
  padding: 5px;
  font-weight: bold;
}
#email {
  margin: 10px;
  max-width: 80%;
}

#email::placeholder {
  text-align: center;
}

#submit {
  background-color: rgb(140, 51, 143);
  color: white;
  padding: 8px;
  margin: auto;
  position:relative;
}

#submit:hover {
  font-size: 1.2em;
  background-color: #48084b;
  /* position: absolute; */
}

#buy-button:hover {
  background-color: rgb(72, 8, 75);
}
.grid {
  display: flex;
}

#container {
  width: 100%;
  /* height: 30vw; */
  background-color: rgb(207, 148, 194);
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}
.main-box {
  width: 100%;
  height: 33.33%;
  /* border:1px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.box-1 {
  height: 10vh;
  width: 30%;
}
.box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 60%;
  font-size: 0.8em;
}

#fast-ship {
  max-width: 100%;
  height: 100%;
}

#video {
  width: 560px;
  height: 315px;
}

@media (max-width: 702px) {
  #cname > h1 {
    font-size: 3vw;
  }
  a {
    font-size: 2vw;
  }
  #header {
    min-height: 30px;
  }

  .main-box
  {
    flex-direction: column;
  }
  .box-1
  {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  #main-flex{

    flex-direction: column;

  }
  /* .box-1 >#fast-ship
  {
    margin-left:20px;
  } */
  #fast-ship
  {
    width:50%;
  }
  .box-2
  {
    text-align: center;
    margin-bottom:20px;
  }
  #description
  {
    margin-top:-20px;
    font-size: 0.6rem;
  }

  #video {
    max-width: 360px;
    max-height: 240px;
  }
  .box
  {
    margin-bottom: 20px;
    width:80%;
  }
}
